*{
    background-color: #f8f6f3;
}

input , select , option{
  background-color: #ddd4c6 !important;
  padding: 10px 15px 10px 15px;

}
.loginFont{
  font-size: 42px;
}

.signupFont{
  font-size: 42px;
}
.emailinput {
  margin-bottom: 10px;
}

.loginbtn {
  margin-top: 50px;
  padding: 10px 15px;
  border-radius: 10px;
  font-family: "Noto Serif", serif;
  background-color: #a0907e;
  color: #3e2f1c;;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  border: 1.5px solid black;
}

.loginbtn:hover {
  transform: translateY(-5px) scale(1.05);
  background-color: #fff3e0;
  color: white;
}



div{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* position: relative; */
  background-image: url('/assets/candlebar6.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  font-size: 20px;
  /* margin-top: 55px;     */
}

.signin {
  position: absolute;
  top: 55px;    
  left: 20px;
  display: flex;
  gap: 20px;
  background-color: transparent;
  
}

.nav-link {
  color: #827465;
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
}

.logoutLink{
  display: flex;
  color: #827465;
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
}

.signup{
  position: absolute;
  top: 55px;    
  left: 20px;
  display: flex;
  gap: 20px;
  background-color: transparent;
}

.productBar{
  /* position: absolute; */
  margin-top: 55px;    
  display: flex;
  gap: 20px;
  background-color: transparent;  
}

.categoryBar{
  position: absolute;
  top: 55px;    
  left: 20px;
  display: flex;
  gap: 20px;
  background-color: transparent;
}

.signinBox{
    border: 1.5px solid black;
    background-color: #a0907e;
    padding: 40px;
    margin: 20px auto;
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

}
.signinBox *{
    background-color: transparent;
      border-radius: 10px;

    /* adding spaces between elements and normal backgrounds for the textboxes */
}
.signupBox{
    border: 1.5px solid black;
    background-color: #a0907e;
    padding: 40px;
    margin: 20px auto;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

}
.signupBox *{
    background-color: transparent;
    border-radius: 10px;

}    

.form-input-div {
  text-align: left;
}